--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    content_type_id integer,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.django_admin_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.django_admin_log_id_seq OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.django_admin_log_id_seq OWNED BY public.django_admin_log.id;


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: pmpapp_city; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_city (
    city_id integer NOT NULL,
    city_name character varying(100) NOT NULL,
    postal_code character varying(20),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    country_id_id integer,
    state_id_id integer
);


ALTER TABLE public.pmpapp_city OWNER TO postgres;

--
-- Name: pmpapp_city_city_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_city ALTER COLUMN city_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_city_city_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_continent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_continent (
    continent_id bigint NOT NULL,
    continent_name character varying(100) NOT NULL,
    continent_code character varying(2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.pmpapp_continent OWNER TO postgres;

--
-- Name: pmpapp_continent_continent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_continent ALTER COLUMN continent_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_continent_continent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_country; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_country (
    country_id integer NOT NULL,
    country_name character varying(100) NOT NULL,
    country_code character varying(3) NOT NULL,
    region character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    continent_id_id bigint
);


ALTER TABLE public.pmpapp_country OWNER TO postgres;

--
-- Name: pmpapp_country_country_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_country ALTER COLUMN country_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_country_country_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_customuser (
)
INHERITS (public.auth_user);


ALTER TABLE public.pmpapp_customuser OWNER TO postgres;

--
-- Name: pmpapp_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pmpapp_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pmpapp_customuser_id_seq OWNER TO postgres;

--
-- Name: pmpapp_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_department (
    department_id integer NOT NULL,
    department_name character varying(100) NOT NULL,
    location character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.pmpapp_department OWNER TO postgres;

--
-- Name: pmpapp_department_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_department ALTER COLUMN department_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_department_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_designation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_designation (
    designation_id integer NOT NULL,
    designation_name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.pmpapp_designation OWNER TO postgres;

--
-- Name: pmpapp_designation_designation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_designation ALTER COLUMN designation_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_designation_designation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_employee (
    employee_id bigint NOT NULL,
    phone_number character varying(15),
    nic_number character varying(20),
    "Passport_number" character varying(15),
    date_joined date NOT NULL,
    left_date date,
    job_title character varying(50) NOT NULL,
    salary numeric(10,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    city_id_id integer,
    country_id_id integer,
    department_id_id integer,
    designation_id_id integer,
    state_id_id integer,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    last_login timestamp with time zone,
    password character varying(128) NOT NULL,
    username character varying(150) NOT NULL,
    user_id bigint,
    employee_code character varying(50) NOT NULL
);


ALTER TABLE public.pmpapp_employee OWNER TO postgres;

--
-- Name: pmpapp_employee_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_employee ALTER COLUMN employee_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_employee_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_employee_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_employee_groups (
    id bigint NOT NULL,
    employee_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.pmpapp_employee_groups OWNER TO postgres;

--
-- Name: pmpapp_employee_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_employee_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_employee_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_employee_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_employee_user_permissions (
    id bigint NOT NULL,
    employee_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.pmpapp_employee_user_permissions OWNER TO postgres;

--
-- Name: pmpapp_employee_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_employee_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_employee_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pmpapp_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pmpapp_state (
    state_id integer NOT NULL,
    state_name character varying(100) NOT NULL,
    state_code character varying(10),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    country_id_id integer
);


ALTER TABLE public.pmpapp_state OWNER TO postgres;

--
-- Name: pmpapp_state_state_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pmpapp_state ALTER COLUMN state_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pmpapp_state_state_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log ALTER COLUMN id SET DEFAULT nextval('public.django_admin_log_id_seq'::regclass);


--
-- Name: pmpapp_customuser id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_customuser ALTER COLUMN id SET DEFAULT nextval('public.pmpapp_customuser_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, user_id, content_type_id, object_id, object_repr, action_flag, change_message) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	pmpapp	continent
8	pmpapp	department
9	pmpapp	designation
10	pmpapp	country
11	pmpapp	city
12	pmpapp	state
13	pmpapp	employee
14	pmpapp	customuser
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
j9m2yw13m564e08oj914kjn5oq1ykmi5	.eJxVjDsOwjAQBe_iGln-e0NJzxmstXeNAyiR4qRC3B0ipYD2zcx7iYTb2tLWeUkjibPQRpx-x4zlwdNO6I7TbZZlntZlzHJX5EG7vM7Ez8vh_h007O1bK-ORXVbVWoZMYFQ0NBgNil0oVgUYiIbooytgmZUO1Vaw6Mh5EwDF-wPuGTdM:1tLQpo:xj6G5u6xXBG2ZTzBLIbLHCagtzC1d0fgCvB27mAW2zY	2024-12-25 22:49:16.109672+05
\.


--
-- Data for Name: pmpapp_city; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_city (city_id, city_name, postal_code, created_at, updated_at, country_id_id, state_id_id) FROM stdin;
\.


--
-- Data for Name: pmpapp_continent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_continent (continent_id, continent_name, continent_code, created_at, updated_at) FROM stdin;
9	Asia	AS	2024-12-13 00:15:55.612186+05	2024-12-13 00:15:55.612209+05
\.


--
-- Data for Name: pmpapp_country; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_country (country_id, country_name, country_code, region, created_at, updated_at, continent_id_id) FROM stdin;
\.


--
-- Data for Name: pmpapp_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pmpapp_department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_department (department_id, department_name, location, created_at, updated_at) FROM stdin;
1	HR	London	2024-12-09 18:12:40.372777+05	2024-12-09 18:12:40.372789+05
2	IT\n	London	2024-12-12 11:12:40.372777+05	2024-12-12 18:12:40.372789+05
\.


--
-- Data for Name: pmpapp_designation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_designation (designation_id, designation_name, description, created_at, updated_at) FROM stdin;
1	Supervisor	test	2024-12-09 18:14:04.016409+05	2024-12-09 18:14:04.016423+05
\.


--
-- Data for Name: pmpapp_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_employee (employee_id, phone_number, nic_number, "Passport_number", date_joined, left_date, job_title, salary, created_at, updated_at, city_id_id, country_id_id, department_id_id, designation_id_id, state_id_id, is_active, is_staff, is_superuser, last_login, password, username, user_id, employee_code) FROM stdin;
1	1234567899	\N	\N	2024-12-12	\N	Supervisor	\N	2024-12-12 16:56:29.352806+05	2024-12-12 16:56:29.352806+05	\N	\N	\N	\N	\N	t	f	f	\N	pbkdf2_sha256$870000$F2nO7wvkJChNrzp59S4YRX$qRvTKUVnxbX8uIpT7TH2dMb3Vf9bUq1wM61SQN3ccRQ=	manualUser	19	11
\.


--
-- Data for Name: pmpapp_employee_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_employee_groups (id, employee_id, group_id) FROM stdin;
\.


--
-- Data for Name: pmpapp_employee_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_employee_user_permissions (id, employee_id, permission_id) FROM stdin;
\.


--
-- Data for Name: pmpapp_state; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pmpapp_state (state_id, state_name, state_code, created_at, updated_at, country_id_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 9, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 23, true);


--
-- Name: pmpapp_city_city_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_city_city_id_seq', 1, true);


--
-- Name: pmpapp_continent_continent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_continent_continent_id_seq', 10, true);


--
-- Name: pmpapp_country_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_country_country_id_seq', 1, true);


--
-- Name: pmpapp_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_customuser_id_seq', 20, true);


--
-- Name: pmpapp_department_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_department_department_id_seq', 1, true);


--
-- Name: pmpapp_designation_designation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_designation_designation_id_seq', 1, true);


--
-- Name: pmpapp_employee_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_employee_employee_id_seq', 6, true);


--
-- Name: pmpapp_employee_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_employee_groups_id_seq', 1, false);


--
-- Name: pmpapp_employee_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_employee_user_permissions_id_seq', 1, false);


--
-- Name: pmpapp_state_state_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pmpapp_state_state_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: pmpapp_city pmpapp_city_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_city
    ADD CONSTRAINT pmpapp_city_pkey PRIMARY KEY (city_id);


--
-- Name: pmpapp_continent pmpapp_continent_continent_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_continent
    ADD CONSTRAINT pmpapp_continent_continent_code_key UNIQUE (continent_code);


--
-- Name: pmpapp_continent pmpapp_continent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_continent
    ADD CONSTRAINT pmpapp_continent_pkey PRIMARY KEY (continent_id);


--
-- Name: pmpapp_country pmpapp_country_country_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_country
    ADD CONSTRAINT pmpapp_country_country_code_key UNIQUE (country_code);


--
-- Name: pmpapp_country pmpapp_country_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_country
    ADD CONSTRAINT pmpapp_country_pkey PRIMARY KEY (country_id);


--
-- Name: pmpapp_customuser pmpapp_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_customuser
    ADD CONSTRAINT pmpapp_customuser_pkey PRIMARY KEY (id);


--
-- Name: pmpapp_department pmpapp_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_department
    ADD CONSTRAINT pmpapp_department_pkey PRIMARY KEY (department_id);


--
-- Name: pmpapp_designation pmpapp_designation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_designation
    ADD CONSTRAINT pmpapp_designation_pkey PRIMARY KEY (designation_id);


--
-- Name: pmpapp_employee pmpapp_employee_employee_code_6c1c6c0b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_employee_code_6c1c6c0b_uniq UNIQUE (employee_code);


--
-- Name: pmpapp_employee_groups pmpapp_employee_groups_employee_id_group_id_873ce294_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_groups
    ADD CONSTRAINT pmpapp_employee_groups_employee_id_group_id_873ce294_uniq UNIQUE (employee_id, group_id);


--
-- Name: pmpapp_employee_groups pmpapp_employee_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_groups
    ADD CONSTRAINT pmpapp_employee_groups_pkey PRIMARY KEY (id);


--
-- Name: pmpapp_employee pmpapp_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_pkey PRIMARY KEY (employee_id);


--
-- Name: pmpapp_employee_user_permissions pmpapp_employee_user_per_employee_id_permission_i_547d21e0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_user_permissions
    ADD CONSTRAINT pmpapp_employee_user_per_employee_id_permission_i_547d21e0_uniq UNIQUE (employee_id, permission_id);


--
-- Name: pmpapp_employee_user_permissions pmpapp_employee_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_user_permissions
    ADD CONSTRAINT pmpapp_employee_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: pmpapp_employee pmpapp_employee_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_username_key UNIQUE (username);


--
-- Name: pmpapp_state pmpapp_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_state
    ADD CONSTRAINT pmpapp_state_pkey PRIMARY KEY (state_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: pmpapp_city_country_id_id_c9695db8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_city_country_id_id_c9695db8 ON public.pmpapp_city USING btree (country_id_id);


--
-- Name: pmpapp_city_state_id_id_cac77a85; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_city_state_id_id_cac77a85 ON public.pmpapp_city USING btree (state_id_id);


--
-- Name: pmpapp_continent_continent_code_9d653923_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_continent_continent_code_9d653923_like ON public.pmpapp_continent USING btree (continent_code varchar_pattern_ops);


--
-- Name: pmpapp_country_continent_id_id_98e2cfca; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_country_continent_id_id_98e2cfca ON public.pmpapp_country USING btree (continent_id_id);


--
-- Name: pmpapp_country_country_code_92c5d0ac_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_country_country_code_92c5d0ac_like ON public.pmpapp_country USING btree (country_code varchar_pattern_ops);


--
-- Name: pmpapp_employee_city_id_id_023f4cf6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_city_id_id_023f4cf6 ON public.pmpapp_employee USING btree (city_id_id);


--
-- Name: pmpapp_employee_country_id_id_624eb426; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_country_id_id_624eb426 ON public.pmpapp_employee USING btree (country_id_id);


--
-- Name: pmpapp_employee_department_id_id_bbc0776d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_department_id_id_bbc0776d ON public.pmpapp_employee USING btree (department_id_id);


--
-- Name: pmpapp_employee_designation_id_id_be26f57a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_designation_id_id_be26f57a ON public.pmpapp_employee USING btree (designation_id_id);


--
-- Name: pmpapp_employee_employee_code_6c1c6c0b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_employee_code_6c1c6c0b_like ON public.pmpapp_employee USING btree (employee_code varchar_pattern_ops);


--
-- Name: pmpapp_employee_groups_employee_id_a669c00b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_groups_employee_id_a669c00b ON public.pmpapp_employee_groups USING btree (employee_id);


--
-- Name: pmpapp_employee_groups_group_id_9fb9cac1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_groups_group_id_9fb9cac1 ON public.pmpapp_employee_groups USING btree (group_id);


--
-- Name: pmpapp_employee_state_id_id_c1f69e62; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_state_id_id_c1f69e62 ON public.pmpapp_employee USING btree (state_id_id);


--
-- Name: pmpapp_employee_user_permissions_employee_id_90d69773; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_user_permissions_employee_id_90d69773 ON public.pmpapp_employee_user_permissions USING btree (employee_id);


--
-- Name: pmpapp_employee_user_permissions_permission_id_b3ae94ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_user_permissions_permission_id_b3ae94ef ON public.pmpapp_employee_user_permissions USING btree (permission_id);


--
-- Name: pmpapp_employee_username_d285da27_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_employee_username_d285da27_like ON public.pmpapp_employee USING btree (username varchar_pattern_ops);


--
-- Name: pmpapp_state_country_id_id_bbb8b93f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pmpapp_state_country_id_id_bbb8b93f ON public.pmpapp_state USING btree (country_id_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_2f476e4b_fk_django_content_typ; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_2f476e4b_fk_django_content_typ FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) ON DELETE SET NULL;


--
-- Name: pmpapp_city pmpapp_city_country_id_id_c9695db8_fk_pmpapp_country_country_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_city
    ADD CONSTRAINT pmpapp_city_country_id_id_c9695db8_fk_pmpapp_country_country_id FOREIGN KEY (country_id_id) REFERENCES public.pmpapp_country(country_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_city pmpapp_city_state_id_id_cac77a85_fk_pmpapp_state_state_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_city
    ADD CONSTRAINT pmpapp_city_state_id_id_cac77a85_fk_pmpapp_state_state_id FOREIGN KEY (state_id_id) REFERENCES public.pmpapp_state(state_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_country pmpapp_country_continent_id_id_98e2cfca_fk_pmpapp_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_country
    ADD CONSTRAINT pmpapp_country_continent_id_id_98e2cfca_fk_pmpapp_co FOREIGN KEY (continent_id_id) REFERENCES public.pmpapp_continent(continent_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee pmpapp_employee_city_id_id_023f4cf6_fk_pmpapp_city_city_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_city_id_id_023f4cf6_fk_pmpapp_city_city_id FOREIGN KEY (city_id_id) REFERENCES public.pmpapp_city(city_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee pmpapp_employee_country_id_id_624eb426_fk_pmpapp_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_country_id_id_624eb426_fk_pmpapp_co FOREIGN KEY (country_id_id) REFERENCES public.pmpapp_country(country_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee pmpapp_employee_department_id_id_bbc0776d_fk_pmpapp_de; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_department_id_id_bbc0776d_fk_pmpapp_de FOREIGN KEY (department_id_id) REFERENCES public.pmpapp_department(department_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee pmpapp_employee_designation_id_id_be26f57a_fk_pmpapp_de; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_designation_id_id_be26f57a_fk_pmpapp_de FOREIGN KEY (designation_id_id) REFERENCES public.pmpapp_designation(designation_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee_groups pmpapp_employee_grou_employee_id_a669c00b_fk_pmpapp_em; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_groups
    ADD CONSTRAINT pmpapp_employee_grou_employee_id_a669c00b_fk_pmpapp_em FOREIGN KEY (employee_id) REFERENCES public.pmpapp_employee(employee_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee_groups pmpapp_employee_groups_group_id_9fb9cac1_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_groups
    ADD CONSTRAINT pmpapp_employee_groups_group_id_9fb9cac1_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee pmpapp_employee_state_id_id_c1f69e62_fk_pmpapp_state_state_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee
    ADD CONSTRAINT pmpapp_employee_state_id_id_c1f69e62_fk_pmpapp_state_state_id FOREIGN KEY (state_id_id) REFERENCES public.pmpapp_state(state_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee_user_permissions pmpapp_employee_user_employee_id_90d69773_fk_pmpapp_em; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_user_permissions
    ADD CONSTRAINT pmpapp_employee_user_employee_id_90d69773_fk_pmpapp_em FOREIGN KEY (employee_id) REFERENCES public.pmpapp_employee(employee_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_employee_user_permissions pmpapp_employee_user_permission_id_b3ae94ef_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_employee_user_permissions
    ADD CONSTRAINT pmpapp_employee_user_permission_id_b3ae94ef_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pmpapp_state pmpapp_state_country_id_id_bbb8b93f_fk_pmpapp_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pmpapp_state
    ADD CONSTRAINT pmpapp_state_country_id_id_bbb8b93f_fk_pmpapp_co FOREIGN KEY (country_id_id) REFERENCES public.pmpapp_country(country_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

