{% extends "admin/base.html" %}
{% load static i18n %}
{% block title %}MKX {{ title }} | Mekex Innovation{% endblock %}

{% comment %} {% block branding %}
      <div id="site-name"><a href="{% url 'admin:index' %}">Mekex Innovation</a></div>
      <a href="{% url 'admin:index' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}" alt=" translate 'Mekex Innovation Title' " class="brand_image">
        {{ block.super }}
      </a>
      {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
      {% endif %}
{% endblock %} {% endcomment %}

{% block nav-global %}{% endblock %}
