{% extends "admin/base_site.html" %}

{% extends "base.html" %}

{% block content %}
<h1>Assigned Tasks</h1>
<ul>
    {% for task in assigned_tasks %}
        <li>
        <strong>{{ task.task_name }}</strong> (Priority: {{ task.priority }}, Status: {{ task.status }})
        {% if task.subtasks.all %}
            <ul>
                {% for subtask in task.subtasks.all %}
              <li>{{ subtask.task_name }} (Priority: {{ subtask.priority }})</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Add Subtask</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Subtask</button>
</form>
{% endblock %}
